/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;

<<<<<<< Updated upstream
    color:#75A9FF;//body文字色


=======
>>>>>>> Stashed changes
}

a {
    color: #00B7FF;
}

div {
<<<<<<< Updated upstream
    margin: 20px 0px;


}

.row {
    margin: 20px;
    color:#75A9FF;//body文字色
=======
    margin: 10px 0px;
}

.row {
    margin: 10px;
>>>>>>> Stashed changes
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {



}

.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {


 }

.room-message {

}

.room-message_textarea {
    width: 500px;




}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {

  width: 50em;
  height: 25em;
  overflow-x: scroll;//縦スクロール
  overflow-y: scroll;//横スクロール
  margin-bottom: 1.5em;
  background-color:#D9E5FF;
  border: 1px #c0c0c0 solid;
  color: #000000;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;



}

.room-memo{

  width: 50em;
  height: 15em;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-bottom: 1.5em;
  background-color:#D9E5FF;
  border: 1px #c0c0c0 solid;
  color: #000000;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  margin: 30px 0% 0px 0%;





}
.room-exit {

}

.room-exit_button {

}
