/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;

    color:#75A9FF;//body文字色


}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;


}

.row {
    margin: 20px;
    color:#75A9FF;//body文字色
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {



}

.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {


 }

.room-message {

}

.room-message_textarea {
    width: 500px;
}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {

  width: 50em;
  height: 30em;
  overflow-x: scroll;//縦スクロール
  overflow-y: scroll;//横スクロール
  margin-bottom: 1.5em;
  background-color:#D9E5FF;
  border: 1px #c0c0c0 solid;
  color: #000000;


}

.room-memo{

  width: 50em;
  height: 20em;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-bottom: 1.5em;
  background-color:#D9E5FF;
  border: 1px #c0c0c0 solid;
  color: #000000;


}
.room-exit {

}

.room-exit_button {

}
